h1{
    color: goldenrod;
}
.special-effect:hover{
    color: indianred;
    background-color: lawngreen;
}
input:focus{
    font-weight: 700;
    color: red;
    font-size: 20px;
}
li:nth-child(2n+1){
    background-color: aqua;
}
h1::before{
    content: "Hello ";
    color: indianred;
    font-size: 20px;
    background-color: cornflowerblue;    
}
.special-effect::after{
    content: " Bye";
    font-size: 20px;
    background-color: black;
}
p::before{
    content: "❤️";
}